.dropdown-toggle {

    &::after {
        border: none;
        width: 10px;
        background: no-repeat center/contain url('../images/arrow_down.png');
        height: 10px;
        vertical-align: middle;
        transition: .2s;
    }

    &.show {

        &::after {
            transform: rotate(180deg);
        }
    }
}

.btn {
    transition: .4s;
    box-shadow: none !important;

    &.btn-primary {
        color: $white;
        background: $primary-color;
        border: 1px solid $primary-color;
        font: 600 13px/13px $montserrat;
        border-radius: 5px;

        &:hover {
            background: transparent;
            color: $primary-color;
        }
    }

    &.btn-outline-primary {
        border-color: $primary-color;
        color: $primary-color;
        font: 600 13px/13px $montserrat;
        border-radius: 5px;

        &:hover, &:active, &:focus {
            background: $primary-color;
        }
    }
}

.text-primary {
    color: $primary-color !important;
}

.toast {
    border-radius: 0;

    .toast-header {
        background: $secondary-color;
        border-radius: 0;
        color: $white;

        .btn-close {
            color: $primary-color;
        }
    }

    .toast-body {
        color: $black;
    }
}